.login-section {
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 0;
	overflow: hidden;
}
	.login-section .logo {
		position: absolute;
		opacity: .1;
		z-index: 1;
	}
	.login-box {
		max-width: 30%;
		border-radius: 1rem;
		padding: 2rem;
		padding-bottom: 0;
		background-color: var(--main-color-transparent);
		z-index: 2;
		position: relative;
	}
	@media screen and (max-width: 768px) {
		.login-box {
			max-width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
		.login-form .form-group {			
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			margin: 1rem auto;
			padding: .5rem 1rem;
			border-bottom: 1px solid var(--main-color);
		}
			.login-form .form-group .icon {
				width: 20px;
				margin-right: 1rem;
			}
		.login-form .form-control {
			border: none;
			text-align: center;
			background-color: transparent;
			font-size: .9rem;
		}
		.login-form .form-control:focus {
			box-shadow: none;
		}

		.login-box .new-box {
			margin: 0 -2rem;
			padding: 1rem;
		}
			.login-box .new-box * {
				font-size: .9rem;
			}