.navbar {
	transition: all .2s ease-in-out;
	background-color: #fff;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5;
}

.topblank {
	height: 72px;
}

.fixed {
	background-color: var(--main-color);
}
	.navbar-nav {
		width: 100%;
		display: flex;
		justify-content: center;
		transition: all .2s ease-in-out;
	}
	.dropdown-menu {
		top: 53px;
		border: none;
		border-radius: 0;
	}
		.btn-bar {
			width: 30px;
			height: 5px;
			border-radius: 10px;
			background-color: var(--main-color);
			margin: .2rem 0;
			transition: all .2s ease-in-out;
		}
		.fixed .btn-bar {
			background-color: #fff;
		}

	.nav-link,
	.dropdown-item {
		text-align: center;
		text-transform: uppercase;
		color: var(--main-color);
	}
		@media screen and (max-width: 768px) {
			.nav-link,
			.dropdown-item {
				white-space: break-spaces;
			}
		}
	.nav-link:hover {
		border-bottom: 2px solid var(--main-color);
	}

	.fixed .nav-link,
	.fixed .dropdown-item {
		color: #fff;
	}

	.fixed .nav-link:hover {
		border-bottom: 2px solid #fff;
	}

	.nav-item.dropdown {
		position: relative;
	}
		.nav-item.dropdown .badge {
			position: absolute;
			top: -3px;
			right: 1px;
			border-radius: 50%;
			width: 20px;
			height: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

.logo {
	max-width: 150px;
}