<div class="topblank"></div>
<nav class="navbar navbar-expand-lg" [ngClass]="{'fixed' : fixed}" (window:scroll)="windowScroll($event)">
	<div class="container-fluid container">
		<a class="navbar-brand" href="/">
			<img class="logo" [src]="fixed ? 'assets/img/logos/logo_texto_blanco.png' : 'assets/img/logos/logo_texto_azul.png'" alt="Logo Aelem">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<div class="btn-bar"></div>
			<div class="btn-bar"></div>
			<div class="btn-bar"></div>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" [routerLink]="['/']">Home</a>
				</li>
				<li *ngIf="seminariosLiveOn.length >= 1" class="nav-item dropdown">
					<span class="badge badge-pill bg-danger">{{ seminariosLiveOn.length}} </span>
					<a class="nav-link dropdown-toggle" href="#" id="nuevosSeminariosLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Nuevos Seminarios
					</a>
					<ul class="dropdown-menu" [ngClass]="{'fixed' : fixed}" aria-labelledby="nuevosSeminariosLink">
						<li *ngFor="let seminarioLive of seminariosLiveOn"><a class="dropdown-item" [routerLink]="['/seminario_live/info', seminarioLive.codigo]"> {{ seminarioLive.nombre }} </a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['/pandemia']">Pandemia</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['/cursos']">Cursos</a>
				</li>
				<li class="nav-item dropdown">
					<span class="badge badge-pill bg-danger">1</span>
					<a class="nav-link dropdown-toggle" href="#" id="contenidoLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Contenido
					</a>
					<ul class="dropdown-menu" [ngClass]="{'fixed' : fixed}" aria-labelledby="contenidoLink">
						<li><a class="dropdown-item" [routerLink]="['/articulos']">Articulos</a></li>
						<li><a class="dropdown-item" [routerLink]="['/algoparaleer']">Algo para leer</a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['/descargas']">Descargas</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['/cursos']">Inscribirme</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['plataforma']">Plataforma</a>
				</li>
			</ul>
		</div>
	</div>
</nav>