<app-header	[style]="'background-image: url(assets/img/algoparaleer/header.jpg);background-position: bottom;background-attachment:fixed;background-size: cover;height:50vh;'"
				[mainTitle]="'Algo Para Leer'"
				[description]="'Nueva Sección - Blog - Recomendaciones'">
</app-header>

<section class="section-algo-para-leer">
	<div class="search-box container my-4">
		<form class="request-form" [formGroup]="articulosLeerForm" (ngSubmit)="searchArticles()">
			<div class="input-group">
				<input	type="text"
							class="form-control"
							autocomplete="off"
							placeholder="Qué quiere buscar?"
							formControlName="titulo">

				<button type="submit" class="btn fa-solid fa-magnifying-glass"></button>
				<button type="button" class="btn fa-solid fa-rotate-left" (click)="clearArticles()"></button>
			</div>
		</form>
	</div>

	<app-spinner *ngIf="articulosLeer.length <= 0; else showArticles"></app-spinner>

	<ng-template #showArticles>
		<app-page-articulos-leer [articulosLeer]="articlesFiltered"></app-page-articulos-leer>
		<app-pagination	(pageNumber)="filterArticulosLeer($event)"
								[results]="results"
								[data]="articulosLeer"
								[pageName]="'algoparaleer'"></app-pagination>
	</ng-template>
</section>

