<app-navbar></app-navbar>
<app-header	[style]="'background-image: url(assets/img/cursos-seminarios/header.jpg); background-size:cover; background-position: bottom center; background-attachment: fixed; height:70vh;'"
				[mainTitle]="'Beneficios Exclusivos'"
				[subTitle]="'Cursos y Seminarios'"
				[description]="'Clases Semanales y Personalizadas en Vivo con el Dr. Sebastián Palermo'"
				[descriptionFontSize]="'1.3rem'">
</app-header>

<app-spinner *ngIf="cursos.length <= 0; else showCursos;"></app-spinner>
	<ng-template #showCursos>
		<app-cursos-seminarios-content	[sectionName]="'cursos'"
													[content]="cursos"></app-cursos-seminarios-content>	
	</ng-template>

<app-spinner *ngIf="seminarios.length <= 0; else showSeminarios;"></app-spinner>
	<ng-template #showSeminarios>
		<app-cursos-seminarios-content	[sectionName]="'seminarios'"
													[content]="seminarios"></app-cursos-seminarios-content>
	</ng-template>


<section class="section-precio">
	<div class="precio-box container">
		<div class="head-precio">
			<h4 class="title text-center font-white">Plan Suscripción Premium</h4>
		</div>
		<div class="content-precio">

			<div class="beneficios col-12 col-sm-4">
				<div class="perk">
					<i class="fas fa-check fa-2x mx-3 icon"></i>
					<p>Acceso a todos los cursos y seminarios de plataforma online</p>
				</div>
				<div class="perk">
					<i class="fas fa-check fa-2x mx-3 icon"></i>
					<p>Clases semanales en VIVO con Dr Sebastián Palermo (Martes 8pm Argentina)</p>
				</div>
				<div class="perk">
					<i class="fas fa-check fa-2x mx-3 icon"></i>
					<p>Material escrito exclusivo</p>
				</div>
			</div>

			<app-spinner [loadingMessage]="'Cargando Precios...'" *ngIf="location.countrycode == ''; else showPrices"></app-spinner>

			<ng-template #showPrices>
				<div class="precios col-12 col-sm-8">

					
					<div *ngFor="let precio of precios" class="precio-box" [ngStyle]="{'display':location.countrycode == 'AR' && precio.tipo == 'Argentina' ? 'inline-block' : 'none'}">
						<div class="precio">
							<p class="title"> {{ precio.descripcion_precio }} </p>
							<h6 class="title"> $ {{ precio.valor }} - {{ precio.moneda }} </h6>
		
							<form [formGroup]="addCartForm" (ngSubmit)="addToCart(precio)">
								<input type="hidden" formControlName="modalidad">
								<input type="hidden" formControlName="country">
								<input type="hidden" formControlName="course_price">
								<input type="hidden" formControlName="currency">
								<input type="hidden" formControlName="course_code">
								<input type="hidden" formControlName="course_name">
								<input type="hidden" formControlName="course_image">
								<input type="hidden" formControlName="frecuency_sub">
								<input type="hidden" formControlName="course_quantity">
		
								<button type="submit" class="btn btn-info btn-block">Suscribirme Ahora!</button>
							</form>
						</div>
					</div>

					
					<div *ngFor="let precio of precios" class="precio-box" [ngStyle]="{'display':location.countrycode != 'AR' && precio.tipo != 'Argentina' ? 'inline-block' : 'none'}">
						<div class="precio">
							<p class="title"> {{ precio.descripcion_precio }} </p>
							<h6 class="title"> $ {{ precio.valor }} - {{ precio.moneda }} </h6>
		
							<form [formGroup]="addCartForm" (ngSubmit)="addToCart(precio)">
								<input type="hidden" formControlName="modalidad">
								<input type="hidden" formControlName="country">
								<input type="hidden" formControlName="course_price">
								<input type="hidden" formControlName="currency">
								<input type="hidden" formControlName="course_code">
								<input type="hidden" formControlName="course_name">
								<input type="hidden" formControlName="course_image">
								<input type="hidden" formControlName="frecuency_sub">
								<input type="hidden" formControlName="course_quantity">
		
								<button type="submit" class="btn btn-info btn-block">Suscribirme Ahora!</button>
							</form>
						</div>
					</div>
				</div>
			</ng-template>
		</div>
	</div>
</section>

<app-footer></app-footer>