.section-cursos {
	padding: 3rem 0;
}

/* Modal */
	.cur-sem-modal .modal-content .background-img{
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		z-index: 3;
	}
	.cur-sem-modal .modal-content .close {
		position: absolute;
		top: 5%;
		right: 5%;
		z-index: 4;
		color: #fff;
	}
	.cur-sem-modal .modal-header {
		position: relative;
		align-items: center;
		justify-content: center;
		height: 32vh;
	}
	.cur-sem-modal .modal-body {
		position: relative;
		height: 36vh;
		z-index: 4;
	}
	.cur-sem-modal .modal-body .detail-boxes {
		position: absolute;
		top: -25%;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 93%;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}

	.cur-sem-modal .modal-body .description-box {
		margin-top: 90px;
		max-width: 380px;
		text-align: justify;
	}
		.cur-sem-modal .modal-body .description-box * {
			font-size: 0.9rem;
		}

	.cur-sem-modal .modal-body .detail-boxes .diagonal-box {
		background-color: white;
		height: 115px;
		width: 215px;
		box-shadow: 0 0 10px rgba(0,0,0,.8);
		transform: skewX(-35deg);
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}
	.cur-sem-modal .modal-body .detail-boxes .detail-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		text-align: center;
		padding: 10px;
		transform: skewX(35deg);
		position: relative;
	}
		.cur-sem-modal .detail-boxes .modal-icon {
			position: absolute;
			width: 45px;
			height: 40px;
			transform: skewX(35deg);
			left: -10px;
			top: -5px;
		}
		.cur-sem-modal .detail-boxes small {
			font-size: .8rem;
		}
		/* Modal Mobile */
		@media screen and (max-width: 768px) {
			.cur-sem-modal .modal-content {
				height: 90vh;
			}
			.cur-sem-modal .modal-content .detail-boxes {
				display: block;
				top: -17%;
				width: 100%;
				text-align: center;
			}
			.cur-sem-modal .modal-content .detail-boxes .diagonal-box {
				height: 70px;
				margin: 10px auto;
				transform: none;
			}
			.cur-sem-modal .modal-content .modal-icon {
				transform: none;
			}
			.cur-sem-modal .modal-content .detail-boxes .detail-box {
				transform: none;
			}
			.cur-sem-modal .modal-content .description-box {
				margin-top: 195px;
				padding: 0 20px;
			}
		}
	/* Precios */
	.section-precio .precio-box .head-precio {
		background-color: var(--main-color);
		padding: 7px;
	}

	.section-precio .precio-box .content-precio {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		padding: 10px;
	}
		.content-precio .beneficios {
			padding: 1rem;
		}
			.content-precio .beneficios .perk {
				display: flex;
				justify-content: flex-start;
				align-items: center;
			}
				.content-precio .beneficios .perk .icon {
					color: #5da75d;
				}

		.content-precio .precios {
			padding-top: 2rem;
			padding-bottom: 2rem;
			display: grid;
			gap: 1rem;
			text-align: center;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto;
		}
		@media screen and (max-width: 768px) {
			.content-precio .precios {
				grid-template-columns: 1fr;
			}
		}

			.content-precio .precios .precio-box {
				border: 2px solid var(--main-color);
				padding: .6rem;
				border-radius: 5px;
			}
				.content-precio .precios .precio-box .precio {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;
					height: 100%;
				}