<app-header	[style]="'background-image: url(assets/img/articles/header.jpg);background-position: bottom;background-attachment:fixed;background-size: cover;height:50vh;'"
				[mainTitle]="'Articulos Disponibles'">
</app-header>

<section class="section-header">
	<h4 class="title text-center py-4">Artículos de Interés</h4>

	<div class="search-box container">
		<form id="request-form" class="request-form">
			<div class="input-group">
				<input type="hidden" id="data-tb" name="data-tb" value="articulos">
				<input id="search-argument" name="search-argument" type="text" class="form-control" autocomplete="off" placeholder="Nombre del artículo...">
				<select id="search-prof" name="search-prof" class="form-control select-prof">
					<option disabled selected>Buscar por profesional</option>
					<option *ngFor="let profesional of profesionales" [value]="profesional.id"> {{ profesional.nombre }} {{ profesional.apellido }} </option>
				</select>
				<button type="submit" id="search-art-btn" class="fas fa-search search-icon"></button>
			</div>
		</form>
	</div>
</section>


<app-spinner *ngIf="articles.length <= 0; else showArticles"></app-spinner>

<ng-template #showArticles>
	<app-page-articulos	[articles]="articlesFiltered"></app-page-articulos>
	<app-pagination	(pageNumber)="filterArticles($event)"
							[results]="results" *ngIf="articles.length> 0"
							[data]="articles"
							[pageName]="'articulos'"></app-pagination>
</ng-template>

<app-footer></app-footer>