<app-header	[style]="'background-image: url(assets/img/articles/header.jpg);background-position: bottom;background-attachment:fixed;background-size: cover;height:50vh;'"
				[mainTitle]="'Articulos Disponibles'">
</app-header>

<section class="section-header">
	<h4 class="title text-center py-4">Artículos de Interés</h4>

	<div class="search-box container">
		<form class="request-form" [formGroup]="searchArticlesForm" (ngSubmit)="searchArticles()">
			<div class="input-group">
				<input	type="text" class="form-control"
							autocomplete="off"
							placeholder="Buscar por título..."
							formControlName="titulo">

				<select	class="form-control select-prof"
							placeholder="Buscar por profesional"
							formControlName="profesional_id">

								<option disabled selected value="">Buscar por profesional</option>
								<option *ngFor="let profesional of profesionales" [value]="profesional.id"> {{ profesional.nombre }} {{ profesional.apellido }} </option>
				</select>
				<button type="submit" class="btn fa-solid fa-magnifying-glass"></button>
				<button type="button" class="btn fa-solid fa-rotate-left" (click)="clearArticles()"></button>
			</div>
		</form>
	</div>
</section>


<app-spinner *ngIf="articles.length <= 0; else showArticles"></app-spinner>

<ng-template #showArticles>
	<app-page-articulos	[articles]="articlesFiltered"></app-page-articulos>
	<app-pagination	(pageNumber)="filterArticles($event)"
							[results]="results" *ngIf="articles.length> 0"
							[data]="articles"
							[pageName]="'articulos'"></app-pagination>
</ng-template>

<app-footer></app-footer>